@import "../../Common/main.scss";

.section {
  border-bottom: 1px solid #505050b3;

  .section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 100px;
    gap: 20px;

    .section-title {
      font-size: 50pt;
      font-weight: 600;

      @media screen and (max-width: 1080px) {
        font-size: 35pt;
      }

      @media screen and (max-width: 750px) {
        font-size: 5vw;
      }
    }

    .section-description {
      max-width: 32em;
      font-size: 16pt;
      font-weight: 300;

      @media screen and (max-width: 650px) {
        font-size: 12pt;
      }
    }
  }

  &-home {
    background-color: $bg-darker;
    height: 100vh;
    color: white;

    .section-text {
      position: relative;
      bottom: 3em;
    }
  }

  &-aboutus {
    height: 75vh;
    background-color: #121511;
    color: white;
    
    .section-title, .section-description {
      align-self: flex-end;
    }

  }

  &-contactus {
    height: 110vh;

    .section-text {
      color: white;
    }
  }
}
