@import "../../Common/main.scss";

.cards-members {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 50px;
  place-items: center;

  @media screen and (max-width: 1080px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
  }

  .member {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar {
      border-radius: 300px;
      border: 1px solid #505050b3;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
      user-select: none;
      pointer-events: none;

      @media screen and (max-width: 1080px) {
        height: 80px;
      }

      @media screen and (max-width: 500px) {
        height: 15vw;
      }
    }

    .member-infos {
      display: flex;
      flex-direction: column;
      align-items: center;

      .member-name {
        font-size: 30pt;
        font-weight: 600;
      }

      .member-description {
        font-size: 12pt;
        font-weight: 300;
      }
    }
  }
}

.section {
  border-bottom: 1px solid #505050b3;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.349);

  .section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 100px;
    gap: 20px;

    @media screen and (max-width: 1080px) {
      align-items: center;
      justify-content: center;
      padding: 0 80px;
    }

    @media screen and (max-width: 750px) {
      padding: 0 30px;
    }

    .section-title {
      font-size: 50pt;
      font-weight: 600;

      @media screen and (max-width: 1080px) {
        font-size: 35pt;
        align-self: center;
      }

      @media screen and (max-width: 750px) {
        font-size: 5vw;
      }
    }

    .section-description {
      max-width: 32em;
      font-size: 16pt;
      font-weight: 300;

      @media screen and (max-width: 650px) {
        font-size: 12pt;
        font-weight: 500;
      }

      @media screen and (max-width: 1080px) {
        align-self: center;
      }
    }
  }

  &-home {
    background-color: $bg-darker;
    height: 100vh;
    color: white;
  }

  &-aboutus {
    padding: 100px 0;
    height: 80vh;
    background-color: #222521;
    color: white;
    

    .section-description{
      max-width: 33em !important;
    }

    .section-title, .section-description {
      align-self: flex-end;
    }

    .sdesc-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

  }

  &-contactus {
    background-color: #217c4a;
    height: 110vh;

    .section-text {
      color: white;
      align-items: center;
    }
  }

  &-discord {
    height: 70vh;
    background-color: #207044;
    
    .sdesc-contactlinks {
      display: flex;
      gap: 10px;
      font-weight: 600;

      a {
        color: #222521;
      }
    }
  }
}
