@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;600&display=swap');
@import "../../Common/main.scss";

.main-header {
    background: $bg-evidence;
    height: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 15px;

    .mh-title {
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        font-size: 30pt;
        color: white;
    }
}