@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;600&display=swap');
@import "../../Common/main.scss";


.main-header {
    background: $bg-darker;
    height: 80px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20vw;
    padding: 0 15px;
    z-index: 999;

    .mh-title {
        font-family: 'Outfit', sans-serif;
        font-size: 30pt;
        color: white;
        font-weight: 200;

        .mh-title-label-xenon {
            font-weight: 600;
        }
    }

    .mh-menuitems {
        display: flex;
        align-items: baseline;
        gap: 20px;

        .mhmi-item {
            color: white;
            font-size: 18px;
            height: 22px;
            
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 3px;
                position: relative;
                top: 5px;
                opacity: 0;
                background: white;
                transition: 0.1s opacity ease-in-out, 0.1s top ease-in-out;
                pointer-events: none;
                user-select: none;
                border-radius: 300px;
            }

            &:hover {
                cursor: pointer;

                &::after {
                    opacity: 1;
                    top: 0;
                }
            }
        }
    }
}