.btn__base {
  color: #0a0c0a;
  border: none;
  background-color: white;
  border-radius: 4px;
  padding: 0.8em 1.6em;
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  &__primary {
    background-color: #74e262;
  }
}