.hero {
  display: flex;
  align-items: center;
  gap: 4em;

  &__logo {
    height: 18em;
    width: 18em;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    color: var(--text-title);
    font-size: 36pt;
    padding-block: 5px;
    margin: 0;
  }

  &__description {
    font-size: 14pt;
    width: 35ch;
    font-weight: 500;
    text-wrap: normal;
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .hero {
    &__intro {
      align-items: center;
    }

    &__logo {
      display: none;
    }

    &__title > span {
      display: none;
    }

    &__description {
      text-align: justify;
      width: 23ch;
    }
  }

  .btn__scroll {
    align-self: center;
  }
}