.quality {
  display: flex;
  gap: 30px;
  padding: 2em 2em 0 2em;

  &__card {
    display: flex;
    flex-direction: column;
    width: 20em;
    padding: 2em;

    &__title {
      color: var(--text-title);
      font-weight: bold;
      font-size: 14pt;
      display: flex;
      align-items: center;
      gap: 0.8em;

      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &__description {
      color: var(--text-color);
      font-size: 1em;
      line-height: 1.6em;
      text-align: justify;
    }

    &:nth-child(2) {
      background-color: var(--bg-2nd);
    }
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    padding: 0;
    &__card {
      width: 100vw;

      &__title {
        justify-content: center;
      }

      &__description {
        font-size: clamp(12px, 4vw, 18px);
        padding-inline: 2em;
      }
    }
  }
}