.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  grid-gap: 1em 4em;
  padding-left: 0;
  margin-block: 0;

  &__item {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 1em;

    & > img {
      user-select: none;
      height: 1.5em;
      width: 1.5em;
    }
  }
}

@media screen and (max-width: 900px) {
  .services {
    display: flex;
    flex-direction: column;
  }
}