<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

<FilesMatch "\.(css|js)$">
  Header set Cache-Control "max-age=604800, public"
</FilesMatch>

<FilesMatch "\.(png|svg|gif|webp)$">
  Header set Cache-Control "max-age=2678400, public"
</FilesMatch>